In [88]:
import boto3
import pandas as pd
import csv
from io import StringIO
from botocore.exceptions import ClientError
import requests
import json
from datetime import date

### Parameter & Credentials

#### Select Package

In [107]:
# Specify the package you are interested in from opendataswiss
package = 'taglich-aktualisierte-meteodaten-seit-1992'
#package = 'stundlich-aktualisierte-meteodaten-seit-1992'

#### Set AWS Credetials

In [108]:
#aws Credentials
aws_access_key_id='ASIA6BA6UFCMMJ5OM57F'
aws_secret_access_key='xB4DDGfOhGAvlvz0RSidaeGWEStHv/1Rcad5N7r1'
aws_session_token='FwoGZXIvYXdzEOn//////////wEaDKEV8O43KJjnMmYkLSK/AZ/2bD0E/pS/Nfks3cPhejn6Knh3FmuSsTRNF1SI2Pf/sw6WkQBmOMA0Rz716LcWtZQoizhZonjJat7HTRDfUW1DZIY//9fP8l0YLrJZbbt+m/lvL6SpoOS04dXSzFmRGcH8D1yMnD4bPYKlcjprGN+Teq7ofxo9+OLJStWTqnBGJmWQGrT6gw4ix+06bbQZQ+qVAdRC5CxrbtBjv+h6TmBvlS2AMAVYiOuol+OzhbEFm5FtU7r2ShfXkHZWZ3kJKOyZ8pEGMi2L7lBJIdpAMuUoC/iIISk1sqzwGPEsnG49NZShGV+0k4C5MpHMg7BGZssDoUI='

# bucket credentials
s3_bucket_name='shenlong'
folder = "weather" #is already created in the bucket

### Acces the API and extract Metadata in Dataframe

In [109]:
base_url = 'https://opendata.swiss/api/3/action/package_show?id='# Base url for package information. This is always the same.
package_information_url = base_url + package # Construct the url for the package of interest
package_information = requests.get(package_information_url) # Make the HTTP request
package_dict = json.loads(package_information.content) # Use the json module to load CKAN's response into a dictionary
package_dict = package_dict['result']   # we only need the 'result' part from the dictionary

In [105]:
# Get the relevant metadata for the data from the dictionary
df_sources = pd.DataFrame({'year':[],'filename':[],'package_id': [], 'url': [],'uri': [],'format': []})

for ele in package_dict['resources']:
    to_append = [ele['url'][-8:-4],ele['url'][-25:-4],ele['package_id'], ele['url'],ele['uri'],ele['format']]
    df_sources.loc[len(df_sources)] = to_append
    
df_sources =  df_sources[df_sources['format']=="CSV"] #only keep csv files in the dataframe
df_sources['year'] = df_sources['year'].astype(int) # convert year to int

####Â Split dataframe in current year and past years

In [93]:
current_year = date.today().year # creating a variable with the current year
df_current_year = df_sources.loc[df_sources['year'] == current_year] # creating df that only contains the current year
df_past_years = df_sources.loc[df_sources['year'] != current_year] # creating df that contains all past years

### Access S3 Bucket

#### Access Bucket with boto3

In [94]:
"""Accessing the S3 buckets using boto3 client"""
s3_client =boto3.client('s3')
s3 = boto3.resource('s3',
                    aws_access_key_id = aws_access_key_id,
                    aws_secret_access_key= aws_secret_access_key,
                    aws_session_token= aws_session_token)

#### Check the content of the bucket

In [95]:
""" Getting data files from the AWS S3 bucket as denoted above and printing the first 10 file names having prefix "2019/7/8" """
my_bucket=s3.Bucket(s3_bucket_name)

for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object)

s3.ObjectSummary(bucket_name='shenlong', key='weather/')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1992.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1993.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1994.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1995.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1996.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1997.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1998.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_1999.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2000.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2001.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2002.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2003.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2004.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2005.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2006.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2007.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2008.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2009.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2010.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2011.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2012.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2013.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2014.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2015.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2016.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2017.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2018.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2019.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2020.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2021.csv')
s3.ObjectSummary(bucket_name='shenlong', key='weather/ugz_ogd_meteo_h1_2022.csv')

### Upload csv files

#### Upload historic files

In [96]:
for index, row in df_past_years.iterrows():
    filename = row['filename']
    path = row['url']
    df = pd.read_csv(path, index_col=0)
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    #s3_resource = boto3.resource('s3',aws_access_key_id=aws_access_key_id,aws_secret_access_key= aws_secret_access_key)
    s3.Object(s3_bucket_name, folder + "/" + filename + ".csv").put(Body=csv_buffer.getvalue())

#### Upload current file

In [97]:
for index, row in df_current_year.iterrows():
    filename = row['filename']
    path = row['url']
    df = pd.read_csv(path, index_col=0)
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    #s3_resource = boto3.resource('s3',aws_access_key_id=aws_access_key_id,aws_secret_access_key= aws_secret_access_key)
    s3.Object(s3_bucket_name, folder + "/" + filename + ".csv").put(Body=csv_buffer.getvalue())

### Download csv file from S3 Bucket

In [98]:
file_name = "weather/ugz_ogd_meteo_h1_1992.csv"

# 's3' is a key word. create connection to S3 using default config and all buckets within S3
s3 = boto3.client('s3',
                  aws_access_key_id=aws_access_key_id,
                  aws_secret_access_key=aws_secret_access_key,
                  aws_session_token=aws_session_token)

obj = s3.get_object(Bucket= s3_bucket_name, Key= file_name) 
# get object and file (key) from bucket

initial_df = pd.read_csv(obj['Body']) # 'Body' is a key word

In [99]:
initial_df.head()

,Datum,Standort,Parameter,Intervall,Einheit,Wert,Status
0,1992-01-01T00:00+0100,Zch_Stampfenbachstrasse,WD,h1,Â°,343.79,bereinigt
1,1992-01-01T00:00+0100,Zch_Stampfenbachstrasse,WVv,h1,m/s,1.24,bereinigt
2,1992-01-01T00:00+0100,Zch_Stampfenbachstrasse,WVs,h1,m/s,1.24,bereinigt
3,1992-01-01T01:00+0100,Zch_Stampfenbachstrasse,WD,h1,Â°,317.65,bereinigt
4,1992-01-01T01:00+0100,Zch_Stampfenbachstrasse,WVv,h1,m/s,0.63,bereinigt