# Vacations manual load to DWH

## Requirements & configuration

In [36]:
# Import required packages
import os
import numpy as np
import pandas as pd
import boto3
from boto3 import client
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Set aws credentials
ID='ASIAZ34I6TTSC4RFQUH3'
KEY='U/PlswcMnfPVfjZNTbsDvNRbVO4h9sAUpH9rQme5'
TOKEN='FwoGZXIvYXdzEDEaDHtt9N0tBqhQMwaEESK8AX4znsh05cfyGuJbdFHFuu5BG6lq9dgPZvpiOjTCT59ju6XwYM4UD+MFyv9UVqzrjYYFDItZ6/+Ltt0FZxMlVbhB3fxWxajZoZiVLw8wrRVOoxk/2PB96ZtQV0j9RM5Ii4Hi0wTgFyH5MF6G7zyFwHBjJDBDeAPB/9SFDcC3hhzNyPxIO84I11ACNJZApKaQCYO5mfGvdH6LVlNDG9QOFUMH5SMBk8jhgTy9O5jfelBkPMpQ13zmt5GOJ3+pKL2A45MGMi1pyWwH28sbRCy3eX3CK/K3y+zYPkfv34nQf0tU6jNAmRHC3TRuXbHBruKrZ1U='

# Set bucket
bucket ='lakehousebucket'

# Set file path
file = 'vacations/schulferien.csv'

In [3]:
# DB configuration
config = {
    'host': 'datawarehouse.cbjds2ertxwh.us-east-1.rds.amazonaws.com',
    'port': '5432',
    'user': 'dw_admin',
    'password': 'tW7OsKSHr0Wby28Ue2es',
    'dbname': 'datawarehouse',
}

# Configure cnx_string for sqlalchemy
cnx_str = f'postgresql://{config["user"]}:{config["password"]}@{config["host"]}/{config["dbname"]}'

## Establish connection to S3 bucket

In [4]:
#Creating boto3 client
s3_client = boto3.client(
    "s3",
    aws_access_key_id=ID,
    aws_secret_access_key=KEY,
    aws_session_token=TOKEN,
)

## Getting vacation data from S3 bucket

In [39]:
# Get data from S3 bucket
response = s3_client.get_object(Bucket=bucket, Key=file)

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df = pd.read_csv(response.get("Body"))
    print(df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

Successful S3 get_object response. Status - 200
              start_date             end_date  \
0    2018-08-20 00:00:00  2018-08-21 00:00:00
1    2018-09-10 00:00:00  2018-09-11 00:00:00
2    2018-10-08 00:00:00  2018-10-20 00:00:00
3    2018-12-21 00:00:00  2018-12-22 00:00:00
4    2018-12-24 00:00:00  2018-01-05 00:00:00
..                   ...                  ...
137  2025-04-28 00:00:00  2025-04-29 00:00:00
138  2025-05-01 00:00:00  2025-05-02 00:00:00
139  2025-05-29 00:00:00  2025-05-31 00:00:00
140  2025-06-08 00:00:00  2025-06-10 00:00:00
141  2025-07-14 00:00:00  2025-08-16 00:00:00

                                               summary         created_date
0              Schulen Stadt Zürich: Schuljahresbeginn  2015-08-30 00:00:00
1      Schulen Stadt Zürich schulfrei: Knabenschiessen  2015-08-30 00:00:00
2                   Schulen Stadt Zürich: Herbstferien  2015-08-30 00:00:00
3         Schulen Stadt Zürich: Schulschluss um 12 Uhr  2015-08-30 00:00:00
4               Schulen Stadt Zürich: Weihnachtsferien  2015-08-30 00:00:00
..                                                 ...                  ...
137                                       Sechseläuten  2019-08-12 00:00:00
138                                     Tag der Arbeit  2019-08-12 00:00:00
139  Schulen Stadt Zürich schulfrei: Auffahrt und F...  2018-10-29 00:00:00
140  Schulen Stadt Zürich schulfrei: Pfingsten und ...  2018-10-29 00:00:00
141       Schulen Stadt Zürich: Sommerferien (KW29-33)  2018-10-29 00:00:00

[142 rows x 4 columns]

## Transform data

In [40]:
# Quality check
df.loc[df.end_date < df.start_date]

,start_date,end_date,summary,created_date
4,2018-12-24 00:00:00,2018-01-05 00:00:00,Schulen Stadt Zürich: Weihnachtsferien,2015-08-30 00:00:00

In [41]:
# Adjust date at index 4
df.loc[4]['end_date'] = '2019-01-05 00:00:00'

In [42]:
# Expand df with column 'date' and 'vacation_flag'
df['date'] = df.apply(lambda x: pd.date_range(start=x['start_date'], end=x['end_date']), axis=1)
df = df.explode('date').reset_index(drop=True)
df['vacation_flag'] = 1

# Remove, rename and reorder columns
df.drop(columns = ['start_date', 'end_date', 'created_date'], inplace = True)
df.rename(columns = {'summary':'vacation_text'}, inplace = True)
df = df.reindex(columns=['date', 'vacation_flag', 'vacation_text'])

# Drop duplicate values, extend data frame with missing days, fill vacation_flag and vacation_text column
df.drop_duplicates(subset=['date'], keep='first', inplace = True)
df = df.set_index('date').asfreq('D', fill_value=0).reset_index()
df.vacation_text.replace(0, np.nan, inplace=True)
df

           date  vacation_flag                                 vacation_text
0    2018-08-20              1       Schulen Stadt Zürich: Schuljahresbeginn
1    2018-08-21              1       Schulen Stadt Zürich: Schuljahresbeginn
2    2018-08-22              0                                           NaN
3    2018-08-23              0                                           NaN
4    2018-08-24              0                                           NaN
...         ...            ...                                           ...
2549 2025-08-12              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
2550 2025-08-13              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
2551 2025-08-14              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
2552 2025-08-15              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
2553 2025-08-16              1  Schulen Stadt Zürich: Sommerferien (KW29-33)

[2554 rows x 3 columns]

## Write vacation data into dwh

In [57]:
# Establish connection to database 'datawarehouse'
try: 
    conn = psycopg2.connect(
        dbname=config['dbname'],
        user=config['user'],
        host=config['host'],
        password=config['password'],
        port=config['port']
    )

except psycopg2.Error as e: 
    print("Error: Could not make the connection to the postgres database")
    print(e)

# Create cursor
try: 
    cursor = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get the cursor to the database")
    print(e)

# Set auto commit feature
conn.set_session(autocommit=True)

# Create engine
engine = create_engine(cnx_str)

In [58]:
# Create table 'vacation_daily_stage'
sql = """
    CREATE TABLE IF NOT EXISTS vacation_daily_stage (
        date DATE,
        vacation_flag INT,
        vacation_text text
        )
"""
cursor.execute(sql)

In [59]:
# Insert values into table using sqlalchemy
df.to_sql('vacation_daily_stage', cnx_str, index=False, if_exists='replace')

In [60]:
# Check the most recently inputted values
sql = '''
    SELECT *
    FROM vacation_daily_stage
    ORDER BY date DESC
    LIMIT 5;
    '''
test = pd.read_sql(sql, engine)
test

        date  vacation_flag                                 vacation_text
0 2025-08-16              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
1 2025-08-15              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
2 2025-08-14              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
3 2025-08-13              1  Schulen Stadt Zürich: Sommerferien (KW29-33)
4 2025-08-12              1  Schulen Stadt Zürich: Sommerferien (KW29-33)

## Close connection

In [61]:
# Close connection
cursor.close()
conn.close()