<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preparation" data-toc-modified-id="Preparation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preparation</a></span><ul class="toc-item"><li><span><a href="#Libaries" data-toc-modified-id="Libaries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Libaries</a></span></li><li><span><a href="#Connect-to-Database" data-toc-modified-id="Connect-to-Database-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Connect to Database</a></span></li><li><span><a href="#Load-to-Dataframe" data-toc-modified-id="Load-to-Dataframe-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Load to Dataframe</a></span></li></ul></li><li><span><a href="#EDA---Daily-weather-data" data-toc-modified-id="EDA---Daily-weather-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>EDA - Daily weather data</a></span></li></ul></div>

In [2]:
# dependencies
import pandas as pd
import psycopg2 as pg
from datetime import date
from sqlalchemy import create_engine, text, inspect
import requests
import json
import datetime
import logging

## Preparation

### Libaries

In [12]:
import pandas as pd
import psycopg2 as pg
from datetime import date
from sqlalchemy import create_engine, text, inspect
import requests
import json
import datetime
import logging

### Connect to Database

In [3]:
# DB credentials
ENDPOINT = 'trunks.cwh7dj4q8zyj.us-east-1.rds.amazonaws.com'
DB_NAME = 'trunks'
USERNAME = 'trunks'
PASSWORD = 'Corn5!!!'


# connection string for sql alchemy engine
conn_string = f'postgresql://{USERNAME}:{PASSWORD}@{ENDPOINT}/{DB_NAME}'

In [9]:
# create sql alchemy engine
db = create_engine(conn_string)
dbconnect = db.connect()

In [7]:
 # check existing tables in DB
insp = inspect(db)
existing_tables = insp.get_table_names()
print(existing_tables)

['weather_hourly_urls', 'weather_daily', 'weather_daily_urls', 'weather_hourly']

### Load to Dataframe

We first load both tables (daily and houly) into pandas dataframes

In [11]:
df_daily = pd.read_sql_table('weather_daily', dbconnect) #daily aggregated data
df_hourly = pd.read_sql_table('weather_hourly', dbconnect) #hourly data (note: longer loading time)

## EDA - Daily weather data

In [13]:
df_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86610 entries, 0 to 86609
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Datum      86610 non-null  object
 1   Standort   86610 non-null  object
 2   Parameter  86610 non-null  object
 3   Intervall  86610 non-null  object
 4   Einheit    86610 non-null  object
 5   Wert       85515 non-null  object
 6   Status     86610 non-null  object
dtypes: object(7)
memory usage: 4.6+ MB

In [14]:
df_daily.describe()

,Datum,Standort,Parameter,Intervall,Einheit,Wert,Status
count,86610,86610,86610,86610,86610,85515,86610
unique,10883,3,5,1,4,20319,2
top,2018-12-31T00:00+0100,Zch_Stampfenbachstrasse,T,d1,°C,0,bereinigt
freq,13,50742,20302,86610,40604,6715,75716